.card-image{
    height: 100%;
    width: 100%;
}

.card {
    width: 1200%;
    padding: 10px;
    flex: auto;
}

header {
    background: linear-gradient(white, rgba(0, 217, 255, 0.616), white);
}

form input {
    margin-bottom: 10px;
}